nav {
    background-color: #212927;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .logo {
    color: #dce7e9;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: inline-block;
    text-decoration: none;
    color: #e1e7e8;
    padding: 14px 16px;
  }
  
  .search {
    position: relative;
    display: inline-block;
    color: #dce7e9;
    margin-right: 50px;
    padding: 14px 16px;
    float: right;
  }
  
  .search-bar {
    position: absolute;
    display: none;
    right: 0;
  
    top: 45px;
  }
  
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
  }
  
  nav li:hover {
    background-color: orange;
    border-radius: 5px;
  }
  
  .search:hover {
    background-color: lightpink;
    border-radius: 5px;
    color: #dce7e9;
  }
  
  .search:hover .search-bar {
    display: block;
  }
  
  form input[type="text"]:focus {
    width: 500px;
    background-color: lightpink;
  }
  .login {
    
    float: right;
    padding-left: 150px;
  
    button {
        
      border-radius: 5px;
      height: 45px;
    }
  
    a {
       
      text-decoration: none;
      color: #101212;
    }
  }
  .container0{
    
    
    background-color: #cbdad6;
    height: 60px;
    width: 100%;
    ul{
        span{
            margin-top: 15px;
        }
        display: flex;
        li{
            
            padding: 15px 10px;
            list-style: none;
            a{
               
                text-decoration: none;
                color: #212927;
            }
        }
    }

}
  .box {
    .container {
      .img {
        width: 100%;
      }
  
      .nd {
        text-align: center;
        padding-top: 25px;
      }
  
      .box1 {
        padding: 20px 0px;
        margin: 20px auto;
        align-items: center;
        text-align: center;
        img{
          width: 300px;
          height: 350px;
        }
  
        button {
  
          border-radius: 10px;
          a {
            text-decoration: none;
            color: #212927;
            border-radius: 5%;
          }
        }
  
        button:hover {
  
          background-color: aquamarine;
          border-radius: 5%;
        }
      }
    }
  }
  .container1 {
    background-color: azure;
    align-items: center;
    text-align: center;
    max-width: 10px 20px;
    img {
      padding-bottom: 20px;
  }
  img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  }
  .ft {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 60px;
    h2 {
      color: white;
    }
    a {
      text-decoration: none;
    }
    p{
      color: white;
    }
  }
  .phan8{
    background-color: #1d212c;
    padding: 40px 0px;
   a{
    margin: 0px 30px;
  text-decoration: none;
  color: white;    
  
  }
  a:hover{
    color: #30BAE7;
  }
  }
  .container{
    text-align: center;
    .tt{
      
      padding: 10px 10px;
      .nd{
        a{
          text-decoration: none;
          color: #6d83c1;
        }
  
      }
      .box{
        h2 {
          margin-bottom: 20px;
          margin-top: 20px;
      }
        button{
          margin-bottom: 30px;
          color: #101212;
          background-color: #30BAE7;
          border-radius: 10px;
        }
        
        a{
          
          padding: 10px 10px;
          text-decoration: none;
          
        }
      }
    }
  }
  